body {
  background: linear-gradient(135deg, #201b2c, #3a2e4d);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.form {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form h2 {
  margin-bottom: 1.5rem;
  color: #05e981;
  font-size: 2rem;
  font-weight: bold;
}

.message {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 0.9rem;
  line-height: 1.4;
}

.error {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #fff5f5;
  color: #dc3545;
  font-size: 0.9rem;
  line-height: 1.4;
  border: 1px solid #ffebee;
}

.login-input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 15px;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 1rem;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-input:focus {
  border-color: #05e981;
  box-shadow: 0 0 5px rgba(5, 233, 129, 0.5);
  outline: none;
}

.login-button {
  background-color: #05e981;
  color: #2f0244;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  font-size: 1rem;
}

.login-button:hover {
  background-color: #04d76e;
  transform: scale(1.05);
}

.login-text {
  flex: 1;
  color: #fff;
  font-size: 2.5rem;
  text-align: left;
  padding: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.login-text:hover {
  transform: scale(1.05);
}

.bankButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.bankButton {
  background-color: transparent;
  color: #05e981;
  border: 2px solid #05e981;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bankButton:hover {
  background-color: rgba(5, 233, 129, 0.1);
}

.bankButton.selected {
  background-color: rgba(5, 233, 129, 0.2);
}

.bankSelectionPrompt {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.helperText {
  color: white;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}