/* app.module.css */
@import './variables.css';

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.appContainer {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }
  .mainContent {
    padding: 10px;
  }
}
