.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}

.mainContent {
  flex: 1;
  margin-left: 280px;
  padding: 2rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .mainContent {
    margin-left: 0;
    padding: 1rem;
  }
} 