@import './variables.css';

.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden; /* Prevenir scroll horizontal */
  padding-bottom: 80px; /* Espaço para a navbar mobile */
  flex: 1;
}

.mainContent {
  flex: 1;
  padding: 2rem;
  min-height: calc(100vh - 80px); /* Altura ajustada para considerar a navbar */
  overflow-y: auto; /* Permitir rolagem dentro do conteúdo */
  width: 100%;
  margin-left: 0;
  &[data-page="dashboard"] {
    margin-left: 280px;
  }
}

/* Responsividade */
@media (max-width: 1280px) {
  .mainContent {
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .mainContent {
    padding: 1rem;
    margin-left: 0 !important; /* Remover qualquer margem à esquerda em dispositivos móveis */
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevenir rolagem horizontal */
  }
  
  /* Garantindo que a sidebar não seja visível no mobile */
  .desktopNavbar {
    display: none !important;
  }
} 