:root {
  --primary-color: linear-gradient(90deg, var(#00FF85) 0%, var(#3ad8d5) 100%) !important;
  /* --primary-color: #00ff85; */
  --primary-color-rgb: 0, 255, 133;
  --secondary-color: #1a1b23;
  --background-color: #121318;
  --card-background: #1a1b23;
  --text-color: #ffffff;
  --text-secondary: #b3b3b3;
  --error-color: #ff6b6b;
  --error-rgb: 255, 107, 107;
  --success-color: #51cf66;
  --success-rgb: 81, 207, 102;
  --border-color: #2d2d39;
  --hover-color: #00e676;
  --input-background: #23242f;
  --gradient-start: #00FF85;
  --gradient-end: #3ad8d5;
  --button-text-color: #FFFFFF;
  --warning-color: #fcc419;
  --warning-rgb: 252, 196, 25;
  --chart-color-1: #00ff85;
  --chart-color-2: #ff6b6b;
  --chart-color-3: #4d4dff;
  --chart-color-4: #fcc419;
  --chart-color-5: #9c36b5;
  --chart-color-6: #3bc9db;
  --chart-color-7: #ff922b;
}