:root {
  --primary-color: #00FF85;
  --secondary-color: #1A1B23;
  --background-color: #13141B;
  --card-background: #1A1B23;
  --text-color: #FFFFFF;
  --text-secondary: #8B8D97;
  --error-color: #FF6B6B;
  --success-color: #51CF66;
  --border-color: #2A2B33;
  --hover-color: #00E676;
  --input-background: #2A2B33;
  --gradient-start: #00FF85;
  --gradient-end: #80FFB9;
  --button-text-color: #000000;
  --button-background-color: #00FF85;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  background-color: var(--primary-color);
  color: ;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}

input, select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-background);
  color: var(--text-color);
}

/* Garantindo que a navbar mobile seja exibida em telas pequenas */
@media (max-width: 768px) {
  .mobileNavbar {
    display: block !important;
    z-index: 9999 !important;
  }
  
  body {
    padding-bottom: 60px;
  }
  
  .mainContent.withMobileNav {
    padding-bottom: 70px !important;
  }
}
